/* -------------------------------------------------------------------------- */
/*                                  Pages                                     */
/* -------------------------------------------------------------------------- */
#landing-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(237, 237, 237);
}

#landing-section {
  margin: auto;
}

a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.5s;
}
a:hover {
  color: #00c9c8;
}

textarea:focus,
input:focus,
select:focus,
button:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

h1 {
  font-weight: 600;
  line-height: 1.2;
  font-family: "Newsreader";
}

p {
  font-family: "Mulish";
}

.landing-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.option-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  border-radius: 2px;
  background: rgb(145, 145, 198);
  font-size: 1.2rem;
  min-width: 4rem;
  height: 3.4rem;
}
.option-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgb(127, 127, 211);
  transform: scale(1.02);
  transform: transform 100ms;
}

.option-letter {
  padding: 1rem 1.1rem;
  color: white;
}

.option-text {
  padding: 1rem;
  width: 100%;
  margin-top: -4.7rem;
  margin-left: 2rem;
}

.correct {
  background: linear-gradient(32deg, rgb(140, 209, 140), rgb(104, 194, 104) 100%);
}

.incorrect {
  background: linear-gradient(32deg, rgb(216, 78, 78), rgb(235, 61, 61) 100%);
}

#box {
  display: flex;
  justify-content: space-between;
}

.box-para {
  text-align: center;
  font-size: 1.5rem;
}

.box-text {
  text-align: center;
  color: rgb(145, 145, 198);
}

@media screen and (max-width: 768px) {
  .option-container {
    min-width: 2rem;
  }
}
/* -------------------------------------------------------------------------- */
/*                                   Layout                                   */
/* -------------------------------------------------------------------------- */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 30px 0;
  background-color: #a1c2e8;
  grid-area: header;
}

.foot-item {
  text-decoration: none;
}

/* -------------------------------------------------------------------------- */
/*                                  Components                                */
/* -------------------------------------------------------------------------- */
.stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
@media (max-width: 768px) {
  .stepper-item {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
}

.stepper-item.active {
  font-weight: bold;
}

.stepper-item.completed .step-counter {
  background-color: rgb(100, 208, 238);
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid rgb(100, 208, 238);
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}

.stepper-item:last-child::after {
  content: none;
}

#progressBar {
  width: 30rem;
  height: 1.5rem;
  border: 0.1rem solid rgb(37, 38, 39);
  margin-top: 1rem;
  border-radius: 40px;
  overflow: hidden;
}

#progressBarFull {
  height: 100%;
  background: rgb(100, 208, 238);
  width: 0%;
}/*# sourceMappingURL=main.css.map */